<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.system.dao.UserInfoDao">
<!--    <resultMap id="BaseResultMap" type="com.course.system.mapper.UserInfoMapper">-->
<!--        <id column="id" jdbcType="INT" property="id"/>-->
<!--        <result column="name" jdbcType="VARCHAR" property="name"/>-->
<!--    </resultMap>-->

    <select id="query" resultType="com.course.system.entity.UserInfo">
        select id,name from userinfo
    </select>

</mapper>
